
.profilePic {
  background-color: whitesmoke;
  z-index: 1;
}

.profilecard {
  margin: 1rem auto 0;
}

.editForm {
  height: 60vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.tabs {
  margin: 1rem auto;
}

.tabs [role="tablist"] {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

[role="tab"] {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--wheat);
  border: 1px solid #ccc;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}

[role="tab"][aria-selected="true"] {
  background: var(--sea-green);
  border-bottom: 3px solid var(--primary-color);
  color: white;
}

[role="tabpanel"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-info-box {
  width: 90%;
  height: auto;
  border-radius: 20px;
  margin: 0 auto;
  z-index: 1;
  background-color: white;
  border: 2px solid #1A365D;
  box-shadow: inset -1px 1px 7px rgba(0,0,0,.2), inset 1px -1px 7px rgba(0,0,0,.2), 1px 12px 5px rgba(0,0,0,.4), 4px 3px 8px rgba(0,0,0,.4), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4);
}

.post-success-message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body {
  background: rgba(248, 215, 190, 1);
box-shadow: inset -1px 1px 7px rgba(0,0,0,.1), inset 1px -1px 7px rgba(0,0,0,.1), 1px 12px 5px rgba(0,0,0,.2), 4px 3px 8px rgba(0,0,0,.2), 5px 10px 10px rgba(0,0,0,.1), -5px 10px 10px rgba(0,0,0,.2);

  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  margin-bottom: 0px;
}

.nav {
  background: rgba(240,180,135,1);
  box-shadow: inset -1px 1px 7px rgba(0,0,0,.2), inset 1px -1px 7px rgba(0,0,0,.2), 1px 12px 5px rgba(0,0,0,.4), 4px 3px 8px rgba(0,0,0,.4), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4);
}

.check-out-btn, .new-members-h2 {
  background: rgba(26, 54, 93, 1); 
  box-shadow: inset -1px 1px 7px rgba(0,0,0,.2), inset 1px -1px 7px rgba(0,0,0,.2), 1px 12px 5px rgba(0,0,0,.4), 4px 3px 8px rgba(0,0,0,.4), 5px 10px 10px rgba(0,0,0,.2), -5px 10px 10px rgba(0,0,0,.4); 
}

.logo-paw-print {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.register-login-btn {
  background: rgb(26, 54, 93);
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
}

.register-login-btn:hover, .login-btn:hover {
  background-color: var(--primary-color);
  color: var(--wheat);
}

.login-btn {
  background-color: var(--gotham-green);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

input {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 2px solid var(--gotham-green);
  color: white;
}

input::placeholder {
  color: var(--wheat);
  opacity: 0.7;
}

input:focus {
  outline: none;
  border-color: var(--gotham-green);
  box-shadow: 0 0 5px var(--golden-yellow);
}


.about-contact {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  color: #080808;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  line-height: 1.6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: var(--wheat);
  color: black;
  text-align: center;
  padding: 20px;
  width: 100%;
}


@media (min-width: 1024px) {
  .feed-layout {
    width: 80%;
    margin: 0 auto;
  }
  .menu1 {
    width: 80%;
    margin: 0 auto;
  }
  .right-sidebar {
    width: 300px;
  }
  .left-sidebar {
    width: 300px;
  }
}