@import "tailwindcss";

:root {
  --primary-color: rgb(0, 38, 20);
  --white: #fff;
  --golden-yellow: #FFDF00;
  --orange: #FFA500;
  --brunswick-green: #1B4D3E;
  --sea-green: #2E8B57;
  --wheat: #F5DEB3;
  --gotham-green: #00573F;
}
